@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Calendar Style Sheet
   Author: Esther Obieme
   Date:  3/27/2023 

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   
   ===============================
*/
@media only screen and (max-width: 640px){
   table, tbody, tr, td, th, caption{
      display: block;
   }
   thead,h1{
      display: none;
   }
   caption{
   color: white;
   background-color:#333333;
   font-size: 1.5em;
   line-height: 2em;
};
td{
   border: 1px dotted gray;
   color: rgb(11, 12, 145);
   position: relative;
   padding-left: 40%;
   min-height: 40px;
}
tr:nth-of-type(odd){
   background-color: rgb(255,235,178);
   border: 2px solid gray;
   
}
td::before{
   content: attr(data-date);
   position: absolute;
   left: 0px;
   top: 0px;
   width: 40%;
   padding: auto;
}
}




/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px){

table{
   background-image: url(lht_photo1.png);
   background-repeat: no-repeat;
   background-size: 40%;
   border-style: double;
   border-width: 6px;
   border-color: rgb(154, 64, 3);
   border-collapse: collapse;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   table-layout: fixed;
   width: 85%;
}

td, thead{
   border-style: gray solid;
   border-width: 1px;
   font-size: 0.85em;
   font-weight: normal;
   padding: 5px;
   vertical-align: top;
   width: 14.28%;
   word-wrap: break-word;
}

td{
   background-color: rgba(171, 171, 171, 0.6);
   color: rgb(11, 12, 145);
}


td[data-date*="Sept"]{

   background-color: rgba(232, 214, 148, 0.6);
   box-shadow: 0px 0px 20px gray inset;
}


   
}